span.multiselect-native-select {
	position: relative
}
span.multiselect-native-select select {
	border: 0!important;
	clip: rect(0 0 0 0)!important;
	height: 1px!important;
	margin: -1px -1px -1px -3px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	width: 1px!important;
	left: 50%;
	top: 30px
}
.multiselect-container {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0
}
.multiselect-container .input-group {
	margin: 5px
}
.multiselect-container>li {
	padding: 0
}
.multiselect-container>li>a.multiselect-all label {
	font-weight: 700
}
.multiselect-container>li.multiselect-group label {
	margin: 0;
	padding: 3px 20px 3px 20px;
	height: 100%;
	font-weight: 700
}
.multiselect-container>li.multiselect-group-clickable label {
	cursor: pointer
}
.multiselect-container>li>a {
	padding: 0
}
.multiselect-container>li>a>label {
	margin: 0;
	height: 100%;
	cursor: pointer;
	font-weight: 400;
	padding: 3px 0 3px 30px
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
	margin: 0
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin-bottom: 5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
	padding: 3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
	margin-left: -20px;
	margin-right: 0
}

div.dataTables_wrapper div.dataTables_filter {
    width: 50%;
    float: right;
    margin-bottom: 10px;
}
.workorder-icon i
{
	background: #3587d8;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 20px;
}
.table-workorder th, .table-workorder td
{
padding:5px 0px;
border-top:0px solid #eaeaea!important;
}

/*Header CSS*/
.asterrisk
{
color:red;
}
.icon_dash{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    color: #fff;
    background-color: #ef6e6e;
}
.icon_dash i{
    
    color:#fff;
    padding-top:12px;
}

.active_button{
    color: white;
    background: #218607;
    margin-left: 14px;
    border: 1px solid #218607;
}
.deactive_status{
    color: white;
    background: #ef0f0f94;
    margin-left: 14px;
    border: 1px solid #ef0f0f94;
}

.deactive_button{
    color: white;
    background: #ef0f0f94;
    margin-left: 14px;
    border: 1px solid #ef0f0f94;
}

.deactive_button:hover{
     color: white;
    background: #DFAB38;
    margin-left: 14px;
    border: 1px solid #DFAB38;
}
.divide_form{
    
   border: 2px solid #7b7474;
    margin: 10px;
}
.title_pro{
    
    font-weight:bold;
}

.group_form{
    
    margin-bottom:5px;
}

.bg-darkgray{
        background-color: #333d5499 !important;
       color: white;
}
.filter_nav{
    float: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dee2e6;
}
.filter_nav li.nav-item{
    border: 1px solid #dee2e6; 
}
.filter_nav .nav-link.active{
    
    border:none;
}
.filter_nav .nav-link {
    padding-left:40px;
    padding-right:40px;
}
.nav-pills .nav-link
{
background: #333D54;
color: #fff !important;
}



.topbar .top-navbar .navbar-header .navbar-brand
{
display:block!important;
}
.showimg
{
height:120px;
width:120px;
padding:5px;
border: 1px dashed #333d54;
}
.showimg img
{
height: 108px;
width: 108px;
}
.image-center
{
	margin: 0px auto;
    display: block;
	width:50px;
	height:50px;
}
/*Header CSS*/

.counter-card p
{
font-size:12px;
}
.counter-card .card-body
{
padding:10px;
}